@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
html{
    font-size: 16px;
    box-sizing: border-box;
    font-family: "DynaPuff", system-ui;
}

body{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 7.4%;
    margin: 0;
}

header{
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1000;
    color: #1c1c1c;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    color: #ececec;
}
.header a{
    color: #ececec;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    border: 2px solid #e4e2e2;
    border-radius: 4px;
}

main h1{
    text-align: center;
}

#primera{
    position: relative;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 5%;
    margin-top: 2%;
}

#primera ul{
    width: 30%;
}

#primera li{
    padding: 2%;
}

#primera img{
    width: 220px;
    border-radius: 4px;
}

#segunda #areas{
    position: relative;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#segunda ul{
    width: 80%;
}

#tercera{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 5%;
}